* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: rgb(248, 248, 248);
}

.navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
  color: red;
}

img {
  width: 100%;
  height: 100%;
}

.header {
  height: 90vh;

}

.slide img {
  height: 90vh;
}

@media screen and (max-width: 578px) {
  .header {
    height: 40vh !important;
  }

  .slide img {
    height: 40vh !important;
  }
}

.slide-item {
  position: relative;
}

.slide-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 30em;
}

.social-media {
  list-style: none;
}

.social-media a {
  text-decoration: none;
  color: black;
}

.header-right {
  margin-top: 8px;
}

.header-right__item a {
  font-size: 14px;
  padding-right: 10px;
}

.header-right__icon a {
  color: black;
  font-size: 14px;
  padding-right: 1em;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 578px) {
  .padding_top {
    padding-top: 70px !important;
  }

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .section_padding {
      padding: 70px 0px !important;
    }
  }

  .text-center {
    text-align: center;
  }

  .feature_part .single_feature_post_text {
    height: 300px;
    padding: 35px 20px;
    background-color: #f8fbff;
    margin-bottom: 30px;
    position: relative;
  }

  .feature_part .single_feature_post_text .feature_btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ff3368;
    position: absolute;
    left: 50px;
    bottom: 60px;
    line-height: 15px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;

    transition: 0.5s;
  }



  .section_padding {
    padding: 70px 0px;
  }

  .justify-content-center {
    -ms-flex-pack: center;
    justify-content: center;
  }

  .row {

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .product_list .section_tittle {
    text-align: left
  }

  @media (max-width:1px ) {
    .section_tittle {
      margin-bottom: 20px;
    }
  }

  .text-center {
    text-align: center;
  }

  .single_product_item .single_product_text a {
    color: #ff3368;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }


  .our_offer {
    background-color: #ecfdff;
  }



  .section_padding {
    padding: 70px 0px;
  }

  .justify-content-center {

    justify-content: center;
  }

  .align-items-center {
    align-items: center;
  }

  .justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }

  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
  }

  .product_list .owl-nav {
    right: 0;
    padding: 20px 40px;
  }

  .section_padding {
    padding: 70px 0px;
  }

  @media (max-width: 1px ) {
    .container {
      max-width: 1px solid;
    }
  }

  .product_list .section_tittle {
    text-align: left !important;
  }

  .client_logo .single_client_logo {
    height: 100px;
    padding: 8px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #edeff2;
    width: 20%;
    float: left;
    border-bottom: 1px solid #edeff2;
  }


  .client_logo .single_client_logo {
    height: 100px;
    padding: 8px;
  }


  .footer_part .single_footer_part {
    margin-bottom: 20px;
  }

  .container {
    max-width: 1px solid;
  }

  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }

